.image {
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.movie-info {
  position: relative;
  top: 10px;
  left: 10%;
  width: 500px;
  font-size: smaller;
  margin: 10px auto;
  padding: 5px;
  font-weight: bold;
}
